.offer{
    background-image: cover;
    height: 24rem ;
    width: 100%;
    border: 2px;
    border-color: coral;
    

}
.offer h2 p{
    /* display: none; */
}
.offer:hover{
    opacity: 60px;
    background: #000;
    

}
/* .offer h2 p:hover{
    display: block;
} */
