.custom-hov {
    width: 320px;
    height: 300px;
    -webkit-transition: width 3s;
    transition: height 3s;
    overflow: hidden;
  }




.custom-hov:hover {
    height:650px;
    
    transition-timing-function: ease;
  }
/* .custom-hov p :hover {
   display: block;
    
    transition-timing-function: ease;
  } */

 


