.detail-card {
    width: 280px;
    height: 300px;
    -webkit-transition: width 2s;
    transition: height 2s;
    overflow: hidden;
  }
.detail-card-auto {
    width: 300px;
    height: 350px;
    -webkit-transition: width 2s;
    transition: height 2s;
    overflow: hidden;
  }





.detail-card p {
    height:280px;
   
    overflow: hidden;
    
    /* transition-timing-function:ease-out; */
  }

.detail-card:hover {
    height:650px;
    
    transition-timing-function:ease;
  }
.detail-card-auto:hover {
    height:650px;
    
    transition-timing-function:ease;
  }

/*  
  @media (min-width: 640px) {
    .detail-card {
      width: 100px;
      height: 300px;
      -webkit-transition: width 2s;
      transition: height 2s;
      overflow: hidden;
    }
}
  @media (min-width: 768px) {
    .detail-card {
        width: 200px;
    }
}
  @media (min-width: 1040px) {
    .detail-card {
        width: 300px;
    }
} */

